@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    font-family: "Montserrat";
    width: 70%;
    margin: auto;
}
h1 {
    color: #d05270;
    font-family: Abril Fatface;
}

h2,
h3 {
    color: #3a0ca3;

}

.couleur {
    color: #d05270;
}

.image img {
    margin: auto;
    height: 70%;
    width: 100%;
    margin-top: 100px;

}

.image {
    margin: auto;
    display: block;
    text-align: center;
}



.img img {
    margin: 10%;
    width: 80%;
    padding-left: 1rem;
    padding-top: 5rem;

}

.icone img {
    margin: auto;

}

footer {
    margin-top: 10%;
    display: flex;
    align-items: center;
}

.apropos {
    width: 60%;
}

.img {
    width: 40%;
}

body {
    font-family: Montserrat;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: fit-content;
	box-sizing: border-box;
}
nav{
	width: 40%;
}
ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
}
a{
	text-decoration: none;
	color: #888;
	text-transform: uppercase;
}
.active{
	color:#5A47abff;
}