@font-face {
    font-family: "AbrilFatface";
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0%;
}

body {
    font-family: "Montserrat";
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    font-family: "AbrilFatface";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    font-size: 2.5rem;
    color: #d05270;
}

.macbwebp {
    width: 50%;
    height: 50%;
}

h3 {
    margin: 0;
}

img {
    max-width: 90vw;
}

.button {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    color: #ffffff;
    margin-bottom: 1rem;
}

#X,
#medium {
    background-color: #000000;
}

#linkedin {
    background-color: #1275b1;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.articleholder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.articleholder>div {
    width: 50%;
    box-sizing: border-box;
}

main {
    text-justify: auto;
    justify-content: space-around;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    box-sizing: border-box;
}

nav {
    width: 40%;
    color: grey;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

.active {
    color: #5A47abff;
}