* {
    margin: 0%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    background: white;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    font-size: 2.5rem;
    color: #d05270;
}

.macbwebp {
    width: 50%;
    height: 50%;
}


h3 {
    margin: 0;
}



img {
    max-width: 90vw;
}

.button {
    display: flex;
    width: 200px;
    justify-content: space-evenly;
    color: #ffffff;

}

#X,
#medium {
    background-color: #000000;
}

#linkedin {
    background-color: #1275b1;
}

.flexbox li {
    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}